{#name = models.CharField(max_length=100)#}
{#    description = models.CharField(max_length=100, help_text='short description i.e. "5 intercessors')#}
{#    power = models. PositiveSmallIntegerField(default=0)#}
{#    points = models. PositiveSmallIntegerField(default=0)#}
{#    crusade_points = models. PositiveSmallIntegerField(default=0)#}
{#    battles_fought = models. PositiveSmallIntegerField(default=0)#}
{#    battles_survived #}
<h1>{{ unit.name }}</h1>
<h2>{{ unit.description }}</h2>
<ul>
    <li>Power {{ unit.power }}</li>
    <li>Points {{ unit.points }}</li>
    <li>Crusade Points {{ unit.crusade_points }}</li>
</ul>
<a href="{% url 'units:index' %}">back to list</a>